<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
      integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M"
      crossorigin="anonymous"
    />

    <title>|| My Team ||</title>
    <style>
      .card-header {
        background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-4 col-lg-3"></div>
        <div class="d-flex justify-content-center col-sm-6 col-md-12 col-lg-6">
          <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header">
              <b>NAME:${name}</b>
              <br> </br>
            <b> <i class="fas fa-tasks"></i>&nbsp;Manager</b>
            </div>
            <div class="card-body" style="background-color:white; border-style:solid; border-color:black;">
              <p class="card-text" style="color:black;">
                <b
                  >ID:${id}</b
                >
                <br> </br>
                <b>Email:${email}</b>
                <br> </br>
                <b>Office Number:${officeNumber}</b>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-4 col-lg-3"></div>
      </div>
    </div>
  </body>
</html>